{% extends "base.html" %}
{% load static i18n %}

 {% block static_style %}

.lakebackground {
  background: url("{% static 'images/IMG_0299.jpg' %}") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 {% endblock static_style %}


{% block content %}
  <p  style="color: red; font-size: xx-large; font-weight: bold;">It's about the lake!</p>
  <h1 style="color: green; ">Hello. Spring is here!</h1>
{% endblock content %}
